* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 50%;
    object-fit: cover;
}

.portfolio img {
    border-radius: 20px;
}

.jumbotrone img {
    width: 20%;
}

hr {
    opacity: 1;
    border: 1px solid;
    width: 100px;
}

.box {
    display: flex;
    justify-content: center;
}

.element-contact hr {
    width: 100%;
    border: 1px solid lightgrey;
}

.information {
    background-color: rgb(42, 42, 77);
}

.information a {
    color: chartreuse;
}

input {
    padding: 1rem;
    border-left: transparent;
    border-top: transparent;
    border-right: transparent;
    border-bottom: 2px solid lightgrey;
}