* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}

.jumbotrone img {
    width: 20%;
}

hr {
    opacity: 1;
    border: 1px solid;
    width: 100px;
}

.box {
    display: flex;
    justify-content: center;
}

.element-contact hr {
    width: 100%;
    border: 1px solid lightgrey;
}